 <nav hidden>
        <div class="nav-header">
            <a href="#" class="brand">
<!--               Lend Tech-->
            </a>
            <button class="toggle-bar">
                <span class="fa fa-bars"></span>
            </button>
        </div>
        <!-- Start Header menu for mobile -->
        <div class="header__mobile js-header-menu">
            <a href="#" class="header__mobile-brand">Menu</a>
            <button class="toggle-bar header__mobile-toggle">
                <span class="fa fa-remove"></span>
            </button>
        </div>
        <!-- End Header menu for mobile -->
        <ul class="menu">
            <li class="active"><a href="{{ url_for('account.dashboard')}}">Home</a></li>
            <li><a href="{{ url_for('account.payments') }}">Payment history</a></li>

            <li class="dropdown">
                <a style="color: blue" href="#">Elvis</a>
                <ul class="dropdown-menu">
                    <li><a href="#"><i class="fa fa-home"></i> Dashboard</a></li>
                    <li><a href="#"><i class="fa fa-plus"></i> Invest Now  </a></li>
                    <li><a href="#"><i class="fa fa-power-off"></i> Logout  </a></li>
                </ul>
            </li>

        </ul>
        </ul>
        <ul class="attributes">
            <li><a href="#" class="btn btn-primary btn-rounded btn-xs btn-header">Register</a></li>
            <li><a href="#" class="btn btn-success btn-rounded btn-xs btn-header ml-1">Login</a></li>
        </ul>
    </nav>